.card {
  max-width: 500px;
  margin: 50px auto;
  border-radius: 15px;
}

.search-btn img {
  transition: transform 0.3s ease-in-out;
}

.search-btn:hover img {
  transform: scale(1.2);
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
